@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

body {
  background-color: #F2EFEB;
  margin: 0;
  font-family: 'Noto Serif KR', serif;
  cursor: default;
}

th {
	padding: 20px 5px;
	font-size: 17px;
}

td {
	padding: 10px 0px;
	text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
}

#err {color: red; font-weight: bold;}

.btn { margin: 15px; }

.active {background-color: violet; color: white;}


*{
	margin: 0;
	padding: 0;	
}

li{
	list-style: none
}

.main-image {
	text-align: center;
}

#log {
	top: 0%;
	right: 0%;
	float: right;
	font-size: 14px;
	height: 30px;
	width: 15%;
	position: absolute;
	z-index: 100;
}

#log ul {
	width: 100%;
}

#log .log > li {
	color: #726378;
	float: left;
	width: 50%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: relative;
}

#log .log > li:hover .mypage {
	display: block;
}

#log .log > li a {
	text-decoration: none;
	color: gray;
	display: block;
	width: 100%;
}

#log .log > li a:hover {
	background: gray;
	color : black;
	width: 100%;
}

#log .log .mypage {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	display: none;
}
/* 로그인 메뉴에 올렸을 때 나오는 서브 로그인메뉴 배경색과 글자색 */
#log .log .mypage a{
	background: white;
	color: black;
	/* 투명도 0:투명, 1:불투명 */
	opacity: 0.8;
}

/* 서브 로그인 메뉴에 올렸을 때 서브 로그인메뉴 배경색과 글자색 */
#log .log .mypage li a:hover {
	background: gray;
	color: white;
}

#menu-first {
	color: black;
	height: 50px;
	
}

#menu-first ul {
	width: 100%;
	margin: 0 auto;
	/* overflow: hidden; */
}

/* 메인 메뉴 */
#menu-first .main > li {
	float: left;
	width: 20%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: black;
	position: relative;
}

#menu-first .main > li:hover .sub {
	display: block;
}

/* 메인 메뉴 하이퍼링크 */
#menu-first .main > li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	display: block;
}	

/* 메뉴에 커서 올릴 때 배경색, 글자색 변경 */
#menu-first .main > li a:hover {
	background: gray;
	color: black;
}	

#menu-first .main .sub {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	display: none;
}

/* 메인 메뉴에 올렸을 때 나오는 서브메뉴 배경색과 글자색 */
#menu-first .main .sub a{
	background: white;
	color: black;
	/* 투명도 0:투명, 1:불투명 */
	opacity: 0.8;
}

/* 서브 메뉴에 올렸을 때 서브메뉴 배경색과 글자색 */
#menu-first .main .sub li a:hover {
	background: gray;
	color: white;
} 
