@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

body {
  background-color: #F2EFEB;
  margin: 0;
  font-family: 'Noto Serif KR', serif;
  cursor: default;
}

h2 { text-align: center; }

th {
	padding: 20px 5px;
	font-size: 17px;
}

td {
	padding: 10px 0px;
	text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
}

#err {color: red; font-weight: bold;}

.btn { margin: 15px; }

.active {background-color: violet; color: white;}
