h2 { text-align: center; }
 body {	background-color: #00D8FF; } 
table { width : 90%; background-color:#800040}
th { background-color: #99f7e1; padding: 10px}
td { background-color: #80ffff; 
		padding : 10px;}
#err {color: red; font-weight: bold;}
.btn { margin: 15px; }
.active {background-color: violet; color: white;}