@charset "UTF-8";
/* 	body { border-color: #ffd2e9; } */
	table { width : 100%; margin: 20px; }
	caption { font-size : 25px; font-weight: "bold"; font-color: "blue" line-height: 150%}
/* 	th, td { padding: 15px; border: 1px solid;}
	th :hover {
		background-color: Black; color: white;
}
	tr :hover {
		background-color: Black; color: white;
} */